{% include "blog/header.html" %}

    <section class="ftco-section ftco-no-pb" id="resume-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Education</h1>
            <h2 class="mb-4">Education</h2>
          </div>
        </div>
    		<div class="row justify-content-center">
    			<div class="col-md-7">
    				<div class="resume-wrap ftco-animate">
    					<span class="date">2016-2021</span>
    					<h2>BACHELOR OF ENGINEERING IN MECHATRONICS</h2>
    					<span class="position">Mehran University of Engineering & Technology Jamshoro</span>
    					<p class="mt-4">I hold a Bachelor's degree in Mechatronics Engineering.<br>Majors Studied: Programming, Artificial Intelligence, Machine Learning, Database MySQL, Data Structure and Algorithms</p>
    			</div>
    		<div class="row justify-content-center mt-5">
    			<div class="col-md-6 text-center ftco-animate">
    				<p><a href="https://drive.google.com/file/d/1sHmveFvAqidb-gtke-v8iG1R38JJc2Go/view?usp=drive_link" class="btn btn-primary py-4 px-5">Download CV</a></p>
    			</div>
    		</div>
    	</div>
	</div>
	</div>
	</section>

    {% include "blog/footer.html" %}