{% include "blog/header.html" %}

    <section class="ftco-section ftco-project" id="projects-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">Projects</h1>
            <h2 class="mb-4">My Projects</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/project-4.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
							<h3><a href="#"><font color="black">"Predicting Student Performance with Supervised Machine Learning</font></a></h3>
	    					<span><font color="black">"Linear Regression</font></span>
						</div>
    				</div>
  				</div>
  				<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/project-5.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
							<h3><a href="#"><font color="black">Unsupervised Clustering of Iris Dataset Using K-Means</font></a></h3>
							<span><font color="black">Clustering</font></span>
	    				</div>
    				</div>
  				</div>

    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/project-6.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#"><font color="black">Decision Tree Classifier for Iris Flower Classification</font></a></h3>
	    					<span><font color="black">Decision Tree Classifier</font></span>
	    				</div>
    				</div>
    			</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(static/images/project-2.jpg);">
							<div class="overlay"></div>
							<div class="text text-center p-4">
								<h3><a href="#"><font color="black">Profit Optimization for SampleSuperstore</font></a></h3>
								<span><font color="black">Exploratory Data Analysis</font></span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
							<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="#;">
								<div class="overlay"></div>
								<div class="text text-center p-4">
									<h3><a href="#"><font color="black">Smart Heath Monitoring Wristband for Elderly People using IoT</font></a></h3>
									<span><font color="black">Research Project</font></span>
								</div>
							</div>
						</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>


{% include "blog/footer.html" %}
